---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
	<header class="post-header">
		<h1 class="post-title" itemprop="name headline">
			{{ page.title | escape }}
		</h1>
		<p class="post-meta">
			<span><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
				{{ page.date | date: "%b %-d, %Y" }}</time> • </span>
			<span itemprop="author" itemscope itemtype="http://schema.org/Person"><a href={{ site.url }}>{{ site.author }}</a></span>
		</p>
		<h5>
			我正在尝试通过翻译文章来练习英语，欢迎<a href="mailto:ljjdbd123@gmail.com">拍砖</a> :)
		</h5>
	</header>
	<div style="border-top: dotted #e8e8e8; border-width: 1px 0; padding-top: 10px;">
	</div>
	<div class="post-content" itemprop="articleBody">
		{{ content }}
	</div>

</article>
